{% extends "layouts/main.html" %}
{% block title %}Games{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="mb-3">
	<table class="table table-bordered dataTable" cellspacing="0">
		<thead>
			<tr>
				<th>Game ID</th>
				<th>Start Date</th>
				<th>Current Day</th>
				<th>Map</th>
				<th>Players</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Game ID</th>
				<th>Start Date</th>
				<th>Current Day</th>
				<th>Map</th>
				<th>Players</th>
			</tr>
		</tfoot>
		<tbody>
			{% for game in games %}
			<tr>
				<td><a href="{{ url_for('game_overview', game_id=game.game_id) }}">{{ game.game_id }}</a></td>
				<td>{{ game.start_at }}</td>
				<td>{{ game.last_day }}</td>
				<td>{{ game.map.name }}</td>
				<td>{{ game.active_players_count }} / {{ game.map.slots }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-gamepad"></i> Add game
	</div>
	<div class="card-body">
		<form action="{{ url_for('api_fetch_game') }}" method="post">
			<div class="form-group">
				<label for="game_id">Game ID</label>
				<input type="text" class="form-control" name="game_id" id="game_id" placeholder="Game ID">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.responsive.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/index.min.js') }}"></script>
{% endblock %}
