{% extends "layouts/main.html" %}
{% block title %}Game {{ game.game_id }} {{ game.map.name }}{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/game/market.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'components/game/menu.html' %}
<div class="mb-0 mt-4">
	<div class="row">
		<div class="col">
			<i class="fa fa-area-chart"></i> Graph
		</div>
	</div>
	<hr class="mt-2">
	<div id="market_index"></div>
</div>
{% for market in game.markets %}
<table class="table table-sm">
    <thead>
        <tr>
            <th>Price</th>
            <th>Player</th>
            <th>Resource</th>
        </tr>
    </thead>
    <tbody>
		{% for order in market.orders %}
        <tr>
			<td>{{ order.limit }}</p>
			<td>{{ order.player.name }}</p>
			<td>{{ order.resource.name }}</p>
        </tr>
		{% endfor %}
    </tbody>
<table>
{% endfor%}
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/amcharts.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/serial.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/light.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/market.min.js') }}"></script>
{% endblock %}
