{% extends "layouts/main.html" %}
{% block title %}Game {{ game.game_id }}{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/amcharts3/plugins/export/export.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<input type="hidden" name="game_id" value="{{ game.game_id }}"</input>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-gamepad"></i> {{ game.game_id}}
		<div class="dropdown pull-right">
			<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<form action="{{ url_for('api_fetch_game') }}" method="post">
					<input type="hidden" name="game_id" value="{{ game.game_id }}"</input>
					<button type="submit" class="dropdown-item">Update</button>
				</form>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="row mt-3">
			<div class="col-4">Website ID</div>
			<div class="col-8"><a href="{{ game.supremacy_url }}" target="_blank">{{ game.game_id }}</a></div>
		</div>
		<div class="row mt-3">
			<div class="col-4">Start Date</div>
			<div class="col-8">{{ game.start_at }}</div>
		</div>
		<div class="row mt-3">
			<div class="col-4">Last updated</div>
			<div class="col-8">IDK lol</div>
		</div>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-area-chart"></i> Game {{ game.game_id }}
	</div>
	<div class="card-body">
		<div id="game_index" style="height: 1500px;"></div>
	</div>
	<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<table class="table table-bordered countrys" width="100%" cellspacing="0">
	<thead>
		<tr>
			<th>Country</th>
			<th>Ruler</th>
			<th>Points</th>
			<th>Percent day</th>
			<th>Percent week</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Country</th>
			<th>Ruler</th>
			<th>Points</th>
			<th>Percentage day</th>
			<th>Percentage week</th>
		</tr>
	</tfoot>
	<tbody>
		{% for player in game.players %}
		<tr {{ 'class=text-muted' if player.defeated }}>
			<td>{{ player.nation_name }}</td>
			{% if player.user is not none  %}
			<td><a href="{{ url_for('user_overview', site_id=player.user.site_id) }}">{{ player.name }}</a></td>
			{% else %}
			<td>{{ player.name }}</td>
			{% endif %}
			<td class="text-right">{{ player.points() }}</td>
			<td class="text-right text-{{ 'success' if player.last_day_percentage() >= 0 else 'danger' }}">{{ player.last_day_percentage() }}%</td>
			<td class="text-right text-{{ 'success' if player.last_week_percentage() >= 0 else 'danger' }}">{{ player.last_week_percentage() }}%</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/amcharts.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/serial.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/plugins/export/export.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/amcharts3/themes/light.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/site/sb-admin-datatables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/overview.min.js') }}"></script>
{% endblock %}
