{% extends "layouts/main.html" %}
{% block title %}Game {{ game.game_id }}{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/game/relations.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<input type="hidden" name="game_id" value="{{ game.game_id }}"</input>
<p>
	<a href="{{ url_for('game_overview', game_id=game.game_id) }}" class="btn btn-light">Overview</a>
	<a href="{{ url_for('game_players', game_id=game.game_id) }}" class="btn btn-light">Players</a>
	<a href="{{ url_for('game_relations', game_id=game.game_id) }}" class="btn btn-light">Relations</a>
	<a href="{{ url_for('game_relations_2', game_id=game.game_id) }}" class="btn btn-light">Relations 2</a>
</p>
{% include 'components/game/overview.html' %}
{% include 'components/game/players.html' %}
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/players.js') }}"></script>
{% endblock %}
