{% extends "layouts/main.html" %}
{% block title %}Game {{ game.game_id }}{% endblock %}
{% block css %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/game/relations_2.compiled.min.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<input type="hidden" name="game_id" value="{{ game.game_id }}"</input>
{% include 'components/game/menu.html' %}
<div class="mb-0 mt-4">
	<i class="fa fa-user-o"></i> Relations
</div>
<hr class="mt-2">
<div class="row">
	<div class="col-lg-6 force_relations">
		<div class="card-header">
			<i class="fa fa-area-chart"></i> Force-directed Graph
		</div>
		<div id="force_relations"></div>
	</div>
	<div class="col-lg-6 edge_relations">
		<div class="card-header">
			<i class="fa fa-area-chart"></i> Hierarchical Edge Bundling
		</div>
		<div style="position: absolute;">
			<span class="legend shares_maps_with"></span> Share map<br>
			<span class="legend shares_ways_with"></span> Right of way <br>
			<span class="legend fights_against"></span> War<br>
			<span class="legend shares_info_with"></span> Share info<br>
		</div>
		<div id="edge_relations"></div>
	</div>
</div>
{% include 'components/game/players.html' %}
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/relations_2.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/game/players.js') }}"></script>
{% endblock %}
