<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Supremacy 1914 statics, score index, relations">
		<meta name="author" content="Joost Sijm">
		<link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.css') }}">
		<title>{% block title %}{% endblock %} - Supremacy1914-Stats</title>
		{% block head %}{% endblock %}
	</head>
	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="/">Supremacy1914-stats</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					{%- for item in current_menu.children recursive -%}
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ item.text }}">
						<a class="nav-link" href="{{ item.url}}">
							<span class="nav-link-text">{{ item.text }}</span>
						</a>
					</li>
					{%- endfor -%}
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<!--
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0 mr-lg-2">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for...">
								<span class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>
					-->
					{% if current_user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('user_overview', site_id=current_user.site_id) }}">{{ current_user.name }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid mb-4">
				{% if request.path != "/" %}
				<ol class="breadcrumb">
					{%- for breadcrumb in breadcrumbs -%}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
					</li>
					{%- endfor -%}
				</ol>
				{% endif %}
				<div id="content">
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category, message in messages %}
					<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
					<h1>{{ self.title() }}</h1>
					{% block content %}{% endblock %}
				</div>
			</div>
			<footer class="sticky-footer">
				<div class="container">
					<div class="text-center">
						<small>Copyright © Craftbroec 2018</small>
					</div>
				</div>
			</footer>
			<a class="scroll-to-top rounded" href="#page-top">
				<i class="fa fa-angle-up"></i>
			</a>
			<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="logoutModalLabel">Ready to Leave?</h5>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">Click the "logout" out button to logout</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
							<a class="btn btn-primary" href="{{ url_for('logout') }}">Logout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type='text/javascript' src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
		<script type='text/javascript' src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script async type='text/javascript' src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
		<script async type='text/javascript' src="{{ url_for('static', filename='js/site/main.min.js') }}"></script>
		{% block javascript %}{% endblock %}
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57154028-5"></script>
		<noscript id="deferred-styles">
			<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">
			{% block css %}{% endblock %}
		</noscript>
		<script>
			var loadDeferredStyles = function() {
				var addStylesNode = document.getElementById("deferred-styles");
				var replacement = document.createElement("div");
				replacement.innerHTML = addStylesNode.textContent;
				document.body.appendChild(replacement)
				addStylesNode.parentElement.removeChild(addStylesNode);
			};
			var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
					window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
			if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
			else window.addEventListener('load', loadDeferredStyles);

			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-57154028-5');
		</script>
	</body>
</html>
