{% extends "layouts/main.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="mb-0 mt-4">
	<h4><i class="fa fa-gamepad"></i> Your Games</h4>
	<table class="table">
		<thead>
			<tr>
				<th>Game ID</th>
				<th>Map</th>
				<th>Nation</th>
				<th>Points</th>
				<th>Last Login</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for player in games %}
			<tr>
				<td>
					<a href="{{ url_for('game_overview', game_id=player.game.game_id) }}">
						{{ player.game.game_id }}
					</a>
				</td>
				<td>{{ player.game.map.name }}</td>
				<td>{{ player.nation_name }}</td>
				<td>{{ player.today().points }}</td>
				<td>{{ player.last_login_formatted }}</td>
				<td>
					<a class="btn btn-primary btn-sm" href="{{ player.game.supremacy_url }}" target="_blank">
						<i class="fa fa-fw fa-external-link"></i> Open
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
<div class="row">
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-gamepad"></i>
				</div>
				<div class="mr-5">{{ game_count }} games found</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="{{ url_for('game_index') }}">
				<span class="float-left">View games</span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-success o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-user"></i>
				</div>
				<div class="mr-5">{{ user_count }} users found</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="{{ url_for('user_index') }}">
				<span class="float-left">View users</span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
</div>
<p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
{% endif %}
{% endblock %}
