{% extends "layouts/main.html" %}
{% block title %}Supremacy1914 Statics{% endblock %}
{% block head_content %}
<div class="row">
	<div class="col-xl-3 col-sm-6 mb-3">
		<div class="card text-white bg-primary o-hidden h-100">
			<div class="card-body">
				<div class="card-body-icon">
					<i class="fa fa-fw fa-gamepad"></i>
				</div>
				<div class="mr-5">{{ games | length }} games found</div>
			</div>
			<a class="card-footer text-white clearfix small z-1" href="{{ url_for('game_index') }}">
				<span class="float-left">View Details</span>
				<span class="float-right">
					<i class="fa fa-angle-right"></i>
				</span>
			</a>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}
<p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
<ul>
	{% for game in games %}
	<li>
		<a href="{{ url_for('game_overview', game_id=game.game_id) }}">{{ game.game_id }}</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
