[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
requests = "*"
"psycopg2" = "*"
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"


[dev-packages]

