[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

SQLAlchemy = "*"
requests = "*"
"psycopg2-binary" = "*"
alembic = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Breadcrumbs = "*"
Flask-Menu = "*"
APScheduler = "*"
humanize = "*"
github-webhook = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-Compress = "*"


[dev-packages]

