[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
"psycopg2-binary" = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-breadcrumbs = "*"
flask-menu = "*"
flask-login = "*"
flask-migrate = "*"
flask-compress = "*"
"flask-argon2" = "*"
apscheduler = "*"
requests = ">=2.20.0"
humanize = "*"
github-webhook = "*"
flask-apscheduler = "*"
supremacy1914-wrapper = "*"

[dev-packages]
