#relations
{
	text-align: center;
}

.node
{
	font: 300 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #bbb;
}

.link
{
	stroke: steelblue;
	stroke-opacity: 0.5;
	fill: none;
	pointer-events: none;
	stroke-width: 3px;
}

.node:hover,
.node--source,
.node--target
{
	font-weight: 700;
}

.node--source
{
	fill: #ffc107;
}

.node--target
{
	fill: #dc3545;
}

.link--source,
.link--target
{
	stroke-opacity: 1;
	stroke-width: 4px;
}

.link--source
{
	stroke: #ffc107;
}

.link--target
{
	stroke: #dc3545;
}
