#war_relations
{
	text-align: center;
}

#war_relations .node
{
	font: 300 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	fill: #bbb;
}

#war_relations .link
{
	stroke: steelblue;
	stroke-opacity: 0.5;
	fill: none;
	pointer-events: none;
	stroke-width: 3px;
}

#war_relations .node:hover,
#war_relations .node--source,
#war_relations .node--target
{
	font-weight: 700;
}

#war_relations .node--source
{
	fill: #ffc107;
}

#war_relations .node--target
{
	fill: #dc3545;
}

#war_relations .link--source,
#war_relations .link--target
{
	stroke-opacity: 1;
	stroke-width: 4px;
}

#war_relations .link--source
{
	stroke: #ffc107;
}

#war_relations .link--target
{
	stroke: #dc3545;
}
