{% extends "layouts/main.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block head %}
<link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card mb-3">
	<div class="card-header">
		<i class="fa fa-user"></i> {{ user.name }}
	</div>
	<div class="card-body row">
		<div class="col-12 col-md">
			<div class="row mt-2">
				<div class="col">Name</div>
				<div class="col">{{ user.name }}</div>
			</div>
			<div class="row mt-2">
				<div class="col">Website ID</div>
				<div class="col"><a href="{{ user.supremacy_url }}" target="_blank">{{ user.site_id }}</a></div>
			</div>
		</div>
		<div class="col-12 col-md">
			<div class="row mt-2">
				<div class="col">Milittary score</div>
				<div class="col">{{ user.score_military }}</div>
			</div>
			<div class="row mt-2">
				<div class="col">ecoEomic score</div>
				<div class="col">{{ user.score_economic }}</div>
			</div>
		</div>
	</div>
</div>
<table class="table table-bordered dataTable" cellspacing="0">
	<thead>
		<tr>
			<th>Game ID</th>
			<th>Name</th>
			<th>Nation</th>
			<th>Points</th>
		</tr>
	</thead>
	<tbody>
		{% for player in user.players %}
		<tr>
			<td><a href="{{ url_for('game_overview', game_id=player.game.game_id) }}">{{ player.game.game_id }}</a></td>
			<td>{{ player.fullname }}</td>
			<td>{{ player.nation_name }}</td>
			<td>{{ player.today().points }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block javascript %}
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='vendor/datatables/dataTables.responsive.min.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/site/datatables.min.js') }}"></script>
{% endblock %}
